
{% assign upcoming_events = false %}
{% assign today = site.time | date: "%Y-%m-%d" %}
{% for event in site.data.events %}
  {% assign event_date = event.date | date: "%Y-%m-%d" %}
  {% if event_date >= today %}
    {% assign upcoming_events = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if upcoming_events %}
## Upcoming events
<table width="100%" style="border: 5px solid #ccc; border-collapse: collapse;">
  {% assign today = site.time | date: "%Y-%m-%d" %}
  {% for event in site.data.events %}
    {% assign event_date = event.date | date: "%Y-%m-%d" %}
    {% if event_date >= today %}
      <tr {% if event_date == today %}class="today-event"{% endif %}>
        <td>
          {% if event_date == today %}
            <span class="label">TODAY</span>
          {% else %}
            <span class="label">{{ event.date }}</span>
          {% endif %}
          {% if event.host != nil and event.host != "" %}
            <span class="label">hosted by {{ event.host }}</span>
          {% endif %}
          {% if event.event_link == nil or event.event_link == "" %}
            <span class="label">registration not yet open</span>
          {% endif %}
          <br />
            <strong><a href="/events/{{ event.title | datapage_url: 'meetup' | remove: '.html' }}">{{ event.title }}</a></strong>


        </td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
{% endif %}
